/*
Mint Colors


Original Colors
  yellow #eccc64

Mint
  2 tile bg #eee4da


*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.touch-container {
  margin: 0;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.divide {
  background-color: 'black'
}

.game {
  font-family: 'Karla';
  height: 650px;
  width: 415px;
  border-radius: 9px;
  margin: auto;
  padding: 10px;
}
.board {
  width: 386;
  height: 386;
  margin: 10px auto;
  padding: 2px;
}

@media only screen and (max-device-width: 640px) {

}
  
@media only screen and (max-device-width: 768px) {
  .view {
    padding: 0;
  }
  .game {
    height: fit-content;
    /*width: 90%;*/
    margin: 15% 0 0 0;
    padding: 1%;
  }
  .details-container {
    /*display: none;*/
  }
  .info-container {
    padding: 1% 2%;
  }
  .board {
    width: 95%;
    height: 95%;
    margin: 10px auto;
    /*padding: 2px;*/
  }
  .tile {
    
  }
  .touch-container {
    width: 100vw;
    padding: 0;
  }
  
}